<p id="notice"><%= notice %></p>

<p>
  <strong>Exit:</strong>
  <%= @notas_tecnica.exit %>
</p>

<%= link_to 'Edit', edit_notas_tecnica_path(@notas_tecnica) %> |
<%= link_to 'Back', notas_tecnicas_path %>
