doctype html
html
  head
    title Produtividade
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"
    <![endif]-->
  	= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    meta name="viewport" content="width=device-width, initial-scale=1.0"

  body
  	.navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar data-toggle="collapse" data-target=".nav-collapse"
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand href="#GTDI - Produtividade"
          .nav-collapse
            ul.nav
              li
                = link_to "Ações GTDI", entrantes_path
              li
                = link_to "Notas Técnicas", nota_tecnicas_path
              li
                = link_to "Renomear", renomears_path
    .container
        .row
          .span3
          .span9
            = yield